/* Указываем box sizing */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a{
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 12px 0 0;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color:white;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.mainHead{
    display: flex;
    background: #67AEFC;
    width: 100%;
}
.mainH{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 18px auto;
}
.main{
    margin-top: 82px;
}
.order{
    width: 170px;
    height: 37.78px;
    background: #75E169;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.maintext{
width: 39%;
height: 189px;
margin-left: 300px; 
}
.maintext h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 50px;
color: #484848;

}
.maintext p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
margin: 20px 0 0 0;
}
.maintext button{
width: 270px;
height: 60px;
border: none;
margin: 52px 0 0 0;
background: #75E169;
border-radius: 5px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 15px;
}
.sec{
  background-color:#DAECFF;
  padding-bottom: 45px;
}
.services {
  width: 65%;
  margin: auto;
  padding: .3rem;
  font: 1rem 'Fira Sans', sans-serif;
}
.option> h1,
.services {
  padding: .3rem;
  font-size: 1.2rem;
}
li{
  padding: 14px;
  background: #fff;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight:400;
  font-size: 18px;
}
.sec > h1{
  padding: 120px 0 55px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
li > article{
  display: none;
}
.option > h2,
.option > p {
  margin: .2rem;
  font-size: 1rem;
}
.markedList{
  
  display: grid;
  grid-gap: 10px;
  list-style-image: url('img/Ellipse4.svg');
}
.markedList > img {
  position: absolute;
  right: 3%;
  top: 360%;
}
.kysochekEbychegoSlidera{
  padding: 33px;
  display: inline-flex;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  min-width: 0;
}
.textEbychegoSlidera{
  width: 300px;
  margin: auto;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
color: #000000;
}
.ebychiySlider{
  margin: 30px;
}
.example{
display: inline-flex;
}
.pictureExample{
  width: 569.03px;
height: 447px;
}
.cards{
  background-color:#DAECFF;
}
.cards > h1{
  text-align: center;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
width: 509px;
padding: 121px 0px 25px 0px;
margin: auto;
}
.moreinfoText > h1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 125%;
}
.moreinfoText > p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
}
.moreinfo{
  display: inline-flex;
}
.moreinfoText{
  width: 47%;
}